<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_Okul_Proje.Properties.Settings.E_Okul_ProjeConnectionString"
            connectionString="Data Source=DESKTOP-P7S931M\SQLEXPRESS;Initial Catalog=E_Okul_Proje;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>